<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      body {
        margin: 0;
      }

      #root {
        width: 100vw;
        height: 100vh;
        background-image: url({{imageUrl}});
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
